
  #box {
    background-color: blue; 
    color: white; 
    padding: 20px;
  }

  .Heading {
    color:red;
}

button {
    background-color: green;
}

.Heading
{
    text-align: center;
}

.Heading
{
    text-transform: capitalize;
}

body{
    font-family: 'Times New Roman', Times, serif;
}